.container-event-form {
    margin: 20px;
    max-width: 100%;
}

.date-form-container {
	display: flex;
    flex-direction: row;
	gap: 10px;
    width: 100%;
}

.required-label::after {
    content:"*";
    color:red;
}