.container-event-form {
    margin: 20px;
    max-width: 100%;
}

.date-form-container {
	display: flex;
    flex-direction: row;
	gap: 10px;
    width: 100%;
}

.required-label::after {
    content:"*";
    color:red;
}

.qr-codes {
    display: flex;
    flex-direction: row;;
    justify-content: space-evenly;
}

.qr-codes div canvas {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .qr-codes{
        flex-direction: column;
    }

    .qr-codes div canvas {
        width: 225px;
        height: 225px;
        justify-content: center;
    }
}

#submit-event {
    margin-top: 20px;
    width: 100%;
}