body {
    margin: 0;
    padding: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: max(15vw, 300px);
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid gray;
}

.main {
    margin-left: max(15vw, 300px);
    padding: 10px;
}

.title-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}

.sidebar-link {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 1.1em;
}
.sidebar-link a {
    text-decoration: none;
    color: #4F4F4F;
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        position: relative;
        width: 100%;
        border: 0;
    }

    .main {
        margin-left: 0;
    }
}