body {
    margin: 0;
    padding: 0;
}

.fc-h-event {
    display: block;
    overflow: auto;
    padding: 5px;
}

.fc-event-main-frame {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.fc-daygrid-block-event .fc-event-time {
    font-weight: normal;
}

.fc-event-time::before {
    content: "🕛 ";
}

.fc-event-title {
    font-weight: 700;
    word-wrap: break-word;
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 5px;
}

#calendar {
    padding: 10px;
    padding-top: 25px;
}

.about {
    padding: 20px;
    margin-top: auto;
}

.social-logo {
    opacity: 0.5;
    padding: 2px;
}

.social-logo:hover {
    opacity: 1;
}

@media only screen and (max-width: 900px) {
    .fc-toolbar.fc-header-toolbar {
        display: flex;
        flex-direction: column;
    }
    .fc-dayGridWeek-button {
        display: none;
    }
    .fc-dayGridMonth-button {
        display: none;
    }
    .fc-addEvent-button {
        display: none;
    }
    .fc-event-time::before {
        content: "";
    }
}

.categories {
    padding-top: 10px;
    padding-left: 20px;
}

.socials {
    padding-left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #C52224 !important;
}

.fc-theme-bootstrap5 .fc-list, .fc-theme-bootstrap5 .fc-scrollgrid, .fc-theme-bootstrap5 td, .fc-theme-bootstrap5 th {
    border: 1px solid var(--fc-border-color);
}
