{% extends "base.html" %}

{% block stylesheets %}
    <!-- Icons for chevrons etc, TODO replace by FA -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    {% load static %}
    <link href="{% static 'css/calendar.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block sidebar-content %}
<div class="accordion" id="sidebar-accordion">
    <!-- Categories selections -->
    <section class="categories accordion-item">
        <h2 class="accordion-header" id="heading-categories">
            <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapse-categories" aria-expanded="false" aria-controls="collapse-categories">
                <i class="fa-solid fa-list me-2"></i> Catégories
            </button>
        </h2>
        <div id="collapse-categories" class="accordion-collapse collapse" data-bs-parent="sidebar-accordion" aria-labelledby="heading-categories" data-mdb-parent="#sidebar-accordion">
            <div class="accordion-body">
                {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ category }}" name="{{ category }}" id="checkbox-{{ category }}" checked/>
                    <label class="form-check-label" for="flexCheckChecked">{{ category }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="categories accordion-item">
        <h2 class="accordion-header" id="heading-places">
            <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapse-places" aria-expanded="false" aria-controls="collapse-places">
                <i class="fa-solid fa-location-dot me-2"></i> Lieux
            </button>
        </h2>
        <div id="collapse-places" class="accordion-collapse collapse" data-bs-parent="sidebar-accordion" aria-labelledby="heading-places" data-mdb-parent="#sidebar-accordion">
            <div class="accordion-body">
                {% for place in places %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ place }}" name="{{ place }}" id="checkbox-place-{{ place }}" checked/>
                    <label class="form-check-label" for="flexCheckChecked">{{ place }}<span class="dot" id="dot-{{ place }}"></span></label>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="categories accordion-item">
        <h2 class="accordion-header" id="heading-accessibility">
            <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapse-accessibility" aria-expanded="false" aria-controls="collapse-accessibility">
                <i class="fa-solid fa-bars me-2"></i> Accessibilité
            </button>
        </h2>
        <div id="collapse-accessibility" class="accordion-collapse collapse" data-bs-parent="sidebar-accordion" aria-labelledby="heading-accessibility" data-mdb-parent="#sidebar-accordion">
            <div class="accordion-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="pmr_friendly" name="pmr_friendly" id="checkbox-pmr_friendly"/>
                    <label class="form-check-label" for="flexCheckChecked">Uniquement accessible aux PMR</span></label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="blind_friendly" name="blind_friendly" id="checkbox-blind_friendly"/>
                    <label class="form-check-label" for="flexCheckChecked">Uniquement accessible aux ​déficiences visuelles 🧏</span></label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="deaf_friendly" name="deaf_friendly" id="checkbox-deaf_friendly"/>
                    <label class="form-check-label" for="flexCheckChecked">Uniquement accessible aux déficiences auditives 🦯</span></label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="neurodiversity_friendly" name="neurodiversity_friendly" id="checkbox-neurodiversity_friendly"/>
                    <label class="form-check-label" for="flexCheckChecked">Uniquement accessible aux neurodivergences</span></label>
                </div>
            </div>
        </div>
    </section>
    <section class="categories">
        <div class="sidebar-link">
            <a href="{% url 'add_event' %}">Ajouter un événement</a>
        </div>
    </section>
    <hr class="hr" />
    <section class="categories">
        <div class="sidebar-link">
            <a href="{% url 'create_qr_code' %}">Créer un QR code perso</a>
        </div>
    </section>
    <hr class="hr" />
</div>
{% endblock %}

{% block body %}
<!-- Calendar Container -->
<div id="calendar"></div>
<footer class="about">
    <h2 class="text-center">À propos de nous...</h2>
    <div>
        L'agenda du Carpe (carpestudentem) est un agenda collaboratif qui regroupe les événements de Louvain-la-neuve.
        Il est géré par le Carpe Studentem, un kot-à-projet situé à Louvain-la-Neuve.
        On y retrouve principalement les événements d'associations étudiantes et non-étudiantes.
    </div>
    <section class="socials">
        <a href="https://github.com/AlexandreDewilde/carpe-calendar">
            <img class="social-logo" width="40" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub" class="github-logo">
        </a>
        <a href="https://www.instagram.com/carpestudentem">
            <img class="social-logo" width="40" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="Instagram" class="instagram-logo">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100010289087692">
            <img class="social-logo" width="40" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1200px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook" class="facebook-logo">
        </a>
    </section>
    <section class="copyright-section">
        <a href="https://www.carpestudentem.be">https://www.carpestudentem.be</a> © CarpeStudentem - 2024 - Tous droits réservés
    </section>
</footer>


{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.15/index.global.min.js"></script>
<script>
    const categories = [];
    const places = [];
    {% for category in categories %}categories.push("{{ category }}");{% endfor %}
    {% for place in places %}places.push("{{ place }}");{% endfor %}
</script>
{% load static %}
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}