{% extends "base.html"%}

{% block stylesheets %}
{% load static %}
<link href="{% static 'css/create_qr_code.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block sidebar-content %}
<div class="sidebar-link">
    <a href="{% url 'calendar' %}">Agenda</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="{% url 'add_event' %}">Ajouter un évènement</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="https://www.carpestudentem.be/couverture-devenements/demande-de-couverture/">Demander une couverture d'évènement</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="https://www.carpestudentem.be/locations/">Locations matos</a>
</div>
{% endblock %}

{% block body %}
<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="payementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Créer un QR code de payement</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <form id="payment-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="iban" class="form-label">IBAN</label>
                        <input type="text" class="form-control" id="iban" required>
                    </div>
                    <div class="mb-3">
                        <label for="bic" class="form-label">BIC (facultatif)</label>
                        <input type="text" class="form-control" id="bic">
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Montant</label>
                        <input type="number" class="form-control" id="amount" required>
                    </div>
                    <div class="mb-3">
                        <label for="communication" class="form-label">Communication</label>
                        <textarea class="form-control" id="communication" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="payment-close-modal" data-mdb-ripple-init data-mdb-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary btn-success" type="submit" id="create-payment-qr-code">Créer</button>
            </div>
        </div>
    </div>
</div>

<section class="create-qr-page-section">
    <section class="create-qr-form">
        <div class="p-2"></div>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#paymentModal">
            Créer un QR code de payement
        </button>
        <div class="p-2"></div>
        <div class="row mb-3">
            <div class="col-sm mb-3">
                <label for="qr-code-text" class="form-label">Texte ou URL</label>
                <textarea id="qr-code-text" class="form-control" placeholder="Une URL, Texte, ..." rows="5">https://facebook.com</textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm mb-3">
                <label for="qr-code-image" class="form-label">Image</label>
                <input type="file" id="qr-code-image" name="avatar" class="form-control" accept="image/png, image/jpeg, image/svg+xml" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm mb-3">
                <label for="qr-code-color" class="form-label">Couleur</label>
                <input type="color" id="qr-code-color" class="form-control">
            </div>
            <div class="col-sm mb-3">
                <label for="qr-code-background-color" class="form-label">Couleur de fond</label>
                <input type="color" id="qr-code-background-color" class="form-control" value="#ffffff">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm mb-3">
                <label for="qr-code-color-corner-square" class="form-label">Couleur des carrés sur les coins</label>
                <input type="color" id="qr-code-color-corner-square" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm mb-3">
                <label for="qr-code-width" class="form-label">Largeur</label>
                <input type="number" id="qr-code-width" class="form-control" value="500">
            </div>
            <div class="col-sm mb-3">
                <label for="qr-code-height" class="form-label">Hauteur</label>
                <input type="number" id="qr-code-height" class="form-control" value="500">
            </div>
    </section>
    <section id="qr-display">
        <div class="download-section">
            <input type="button" id="generate-qr-code-svg" class="btn btn-primary" value="Télécharger le QR code en svg">
            <input type="button" id="generate-qr-code-png" class="btn btn-primary" value="Télécharger le QR code en png">
        </div>
    </section>
</section>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
<script src="{% static 'js/create_qr_code.js' %}"></script>
{% endblock %}
