{% extends "base.html"%}

{% block stylesheets %}
{% load static %}
<link href="{% static 'css/event.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block sidebar-content %}
<div class="sidebar-link">
    <a href="{% url 'calendar' %}">Agenda</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="{% url 'add_event' %}">Ajouter un évènement</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="{% url 'create_qr_code' %}">Créer un QR code perso</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="https://www.carpestudentem.be/couverture-devenements/demande-de-couverture/">Demander une couverture d'évènement</a>
</div>
<hr class="hr" />
<div class="sidebar-link">
    <a href="https://www.carpestudentem.be/locations/">Locations matos</a>
</div>
<hr class="hr" />
{% endblock %}

{% block body %}
<div class="event-container">
    <div class="jumbotron">
        <h1 class="display-4">{{ event.title }}</h1>
        <div>
            <p class="lead">Lieu: {{ event.location }}</p>
        </div>
        <div>
            <p class="lead">Catégorie: {{ event.category }}</p>
        </div>
        <div>
            <p class="lead">Organisateur: {{ event.organizer }}</p>
        </div>

        {% if event.facebook_link %}
        <div>
            <p class="lead">Lien facebook: <a href="{{ event.facebook_link }}">{{ event.facebook_link }}</a></p>
        </div>
        {% endif %}

        {% if event.form_link %}
        <div>
            <p class="lead">Lien formulaire du formulaire d'inscription: <a href="{{ event.form_link }}">{{ event.form_link }}</a></p>
        </div>
        {% endif %}

        {% if event.pmr_friendly %}
        <div>
            <p class="lead">Accessible aux PMR ♿</p>
        </div>
        {% endif %}

        {% if event.deaf_friendly %}
        <div>
            <p class="lead">Accessible aux ​déficiences visuelles 🧏</p>
        </div>
        {% endif %}

        {% if event.blind_friendly %}
        <div>
            <p class="lead">Accessible aux déficiences auditives 🦯</p>
        </div>
        {% endif %}

        {% if event.neurodiversity_friendly %}
        <div>
            <p class="lead">Accessible aux neurodivergences</p>
        </div>
        {% endif %}


        <hr class="my-4">
        <!-- display dates in table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Début</th>
                    <th scope="col">Fin</th>
                </tr>
            </thead>
            <tbody id="dates-tbody">
            </tbody>
        </table>
        <p>{{ event.description }}</p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a> -->
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    const dates = [
        {% for date in dates %}
            "{{ date }}",
        {% endfor %}
    ];
</script>
<script src="{% static 'js/event.js' %}"></script>
{% endblock %}
