{% extends "base.html"%}

{% block stylesheets %}
{% load static %}
<link href="{% static 'css/event.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="event-container">
    <div class="jumbotron">
        <h1 class="display-4">{{ event.title }}</h1>
        <p class="lead">
            Lieu: {{ event.location }}
            <br>
            Catégorie: {{ event.category }}
        </p>
        <hr class="my-4">
        <p>{{ event.description }}</p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a> -->
    </div>
</div>
{% endblock %}