<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="title">Titre</label>
    <p>{{ event.title }}</p>
    <label for="description">Description</label>
    <p>{{ event.description }}</p>
    <label for="start">Début</label>
    <p>{{ event.start }}</p>
    <label for="end">Fin</label>
    <p>{{ event.end }}</p>
    <label for="location">Lieu</label>
    <p>{{ event.location }}</p>
    <label for="category">Catégorie</label>
    <p>{{ event.category }}</p>
</body>
</html>